<% if @answer.errors.present? %>
    $("#answer_<%= @answer.id %> .errors").empty();
    <% @answer.errors.full_messages.each do |msg| %>
        $("#answer_<%= @answer.id %> .errors").append('<p><%= j msg %></p>');
    <% end %>
<% else %>

    <% publish_to "/questions/#{@question.id}/answers" do %>
        $('#answer_<%= @answer.id %>').html('<%= j render @answer %>');
    <% end %>

<% end %>
    $('.notice').html('<%= j render 'layouts/notice' %>');
